div.multicolumn{
    -moz-column-count: 2;
    -moz-column-gap: 50%;
    -webkit-column-count: 2;
    -webkit-column-gap: 50%;
    column-count: 3;
    column-gap: 50%;
}

.reveal .footer-right {
    color          : #eeeeee;
    /*     font-family    : "League Gothic", Impact, sans-serif;*/
    letter-spacing : 0.02em;
    line-height    : 0.9em;
    margin         : 0 0 20px;
    text-shadow    : 0 0 6px rgba(0, 0, 0, 0.2);
    text-transform : uppercase;
    bottom : 0px;
    text-align:left;
    padding-left: 5px;
    position:absolute;
}
.light {
    color: gray;
}

.reveal dl.frontmatter {
    margin-left:150px;
    font-size:1.5rem
}
.reveal .frontmatter dt {
    font-style: normal;
    font-weight: 300;
    font-size: 0.8em;
    width: 150px;
    float: left;
    text-align: right;
}
.reveal .frontmatter dt:after {
    content: ":";
}
.reveal .frontmatter dd {
    margin-left: 160px;
}
.reveal .frontmatter dd:first-of-type {
    font-size: 1.5em;
}