[ req ]
prompt             = yes
distinguished_name = my dn
req_extensions = v3_req
extendedKeyUsage = codeSigning
keyUsage         = nonRepudiation, digitalSignature, keyEncipherment


[ my dn ]
# The bare minimum is probably a commonName
commonName = Andreas Heigl
countryName = DE
localityName = Grävenwiesbach
organizationName = Andreas Heigl
organizationalUnitName = 
stateOrProvinceName = Hessen
emailAddress = andreas@heigl.org
name = Andreas Heigl
surname = Heigl
givenName = Andreas
initials = AHG
dnQualifier = some


[ v3_req ]
